/client/node_modules/
/server/node_modules/
/node_modules/
*.log
.DS_Store
/client/dist/
/server/exports/
startup_logs/
.trae/
.vscode/
*.csv
expenses_initial.csv
.github/workflows/error.txt
server/database.sqlite
server/data/json-files/notifications.json
server/uploads
server\database.sqlite
server\.env
client/src/assets/markdown/expense-report.en-US.md
client/src/assets/markdown/expense-report.zh-CL.md
server/.env
